
<!-- Jquery Core Js --> 
<script src="<%=helper.urlBase('bundles/libscripts.bundle.js')%>"></script> <!-- Lib Scripts Plugin Js --> 
<script src="<%=helper.urlBase('bundles/vendorscripts.bundle.js')%>"></script> <!-- Lib Scripts Plugin Js -->
<script src="<%=helper.urlBase('bundles/morrisscripts.bundle.js')%>"></script><!-- Morris Plugin Js --> 
<script src="<%=helper.urlBase('bundles/knob.bundle.js')%>"></script> <!-- Jquery Knob-->
<script src="<%=helper.urlBase('bundles/mainscripts.bundle.js')%>"></script>
<script src="<%=helper.urlBase('js/pages/dashboard-operation.js')%>"></script>
<script src="<%=helper.urlBase('js/pages/dashboard-admin.js')%>"></script>
<script src="<%=helper.urlBase('js/pages/dashboard-finance.js')%>"></script>
<script src="<%=helper.urlBase('js/pages/dashboard-customer-service.js')%>"></script>
<script src="<%=helper.urlBase('js/pages/dashboard-marketing.js')%>"></script>
</body>
</html>
